//NewsContainer styling
#tabs {
    display: flex;
}

.navbar {
  position: absolute;
  width: 100%;
}

.tabs {
    background-color: #343a40;
    border-radius: 5px 5px 0 0;
    display: flex;
    height: 25px;
    padding-right: 30px;
    border-right: solid orange 1px;
    div {
        color: white;
    }
}

.tab-text {
  color: whitesmoke;
  padding-left: 5px;
}
.tabs:hover {
    background: lightcoral;
    cursor: pointer;
  }

.logos {
    width: 25px;
}

.news {
    background-color: #343a40;
    border-radius: 0 5px 5px 5px;
    border:black solid 1px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-top: 20px;
}

.pair {
    display: flex;
    align-items: center;
    height: 80px;
}

.picture {
   height: 50px;
   width: 50px;
   margin-left: 10px;
   margin-right: 20px;
}

.newsEntry {
    color: whitesmoke;
    padding: 10px;
}

hr {
    width: 95%;
    border: dashed lightcoral 1px;
}

.newsEntry:hover {
    color: lightcoral;
    text-decoration: none;
} 

#news {
    display: flex;
    flex-direction: column;
}

//Alerts Styling
.alerts {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.alertEntry {
    // color: whitesmoke;
    // border: solid 1px;
    // background-color: lightcoral;
    // border-radius: 5px;
    margin: 10px;
    min-height: 500px;
    width: 100%;
    // padding: 1px;
    // padding-left: 5px;
    // padding-right: 10px;
}

// .alertEntry:hover {
//     color: lightcoral;
//     text-decoration: none;
//     background-color: whitesmoke;
// } 

//MainContainer Styling
.navLinks:hover {
    color: lightcoral;
    text-decoration: none;
}

.navLinks {
    color: white;
    margin-right: 30px;
}

.navbar {
    box-shadow: black 0px 5px 10px;
}

.navButtons {
  margin: 10px;
}

// Login and Sign up Pages

.greeting {
  color: white;
}

.signupPage, .loginPage {
  background-color: #343a40;
  color: white;
  border-radius: 3px;
}

.signupForm, .loginForm {
  padding-top: 10px;
  label {
    margin: 5px;
  }
  input, a {
    margin: 5px;
    border-radius: 3px;
  }
}


.loginForm a {
  color: white;
  padding: 5px;
}

//landing page styles
#landing {
    display:flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(88deg, #ff0000, #feff00);
background-size: 400% 400%;

-webkit-animation: AnimationName 16s ease infinite;
-moz-animation: AnimationName 16s ease infinite;
animation: AnimationName 16s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    align-items: center;
    #landingInfo{
        padding-left: 4vw;
        h2 {
            display: inline-block;
            color:white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 60px;
        } 
        h3 {
            display: inline-block;
            
            color:white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 40px;
        }
    }
    p {
        color: whitesmoke;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
    }
    #company {
        align-self: flex-end;
    }
}

#particles {
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#content {
background: linear-gradient(88deg, #ff0000, #feff00);
background-size: 400% 400%;

-webkit-animation: AnimationName 16s ease infinite;
-moz-animation: AnimationName 16s ease infinite;
animation: AnimationName 16s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    display: grid;
    grid-template-columns: 40px repeat(8, 2fr) 40px;
    grid-template-rows: repeat(9, 2fr) 40px;
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
    #social {
        background: #343a40;
        border-radius: 5px;
        border:black solid 1px;
        margin-right: 30px;
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 7;
    }
    #map {
        border-radius: 5px;
        border:black solid 1px;
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 7;
    }
    #news {
        background: #343a40;
        border-radius: 5px;
        border:black solid 1px;
        margin-right: 30px;
        margin-top: 30px;
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 10;
    }
    #messages {
        background: #343a40;
        border-radius: 5px;
        margin-top: 30px;
        border:black solid 1px;
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 10;
    }

}

//messages styling

#messages {
    overflow: auto;
    min-width: 300px;
    p {
        color: white;
        margin: 0;
    }
    #input-field {
        width: 100%;
    }
    #message {
        width: 80%;
        outline: none;
    }
    #send {
        height: 30px;
        width: 20%;
        border: none;
    }
}

// Scroll Bars
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: whitesmoke; 
    border: solid, 1px, whitesmoke;
    border-radius: 100px;
    margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightcoral;
    border: solid, 1px, lightcoral;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: coral; 
}

// Donate tab
.donateCard {
  margin-top: 25px;
}

#donateHeader {
  padding-top: 100px;
  padding-bottom: 700px;
  color: rgb(59, 59, 59);
  background-image: url("https://cdn.pixabay.com/photo/2018/10/04/07/04/trees-3723070_1280.jpg");
  background-size: 100%;
  #donateText {
    margin: 25px;
  }
}

